body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}
.bg-image{

    width: 100%;
    height: 100vh;
    background-image: url("bg.jpg");
    background-size: 160%; 
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}
.container {
    padding: 100px;
}

h1 {
    font-size: 50px;
}

p {
    color: grey;
}

@media (max-width: 500px) {
    .container {
        padding: 10px;
    }
}