body{
    margin: 0;
    background: url(https:images.pexels.com/photos/3665442/pexels-photo-3665442.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.password-conatiner{
    background-color: rgb(180, 199, 118);
    width: 500px;
    height: 200px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 0 20px 20px black;
    position: relative;
}

.input-container{
    border: solid 2px black;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.input{
    border: none;
    outline: none;
    font-size: 24px;
    letter-spacing: 4px;
    background-color: transparent;
}

.input::placeholder{
    letter-spacing: 0px;
    color: #ccc;
}
.fa-copy{
    cursor: pointer;
    color: black;
    opacity: 0.3;
}
.fa-copy:hover{
    opacity: 0.7;
}

.btn{
    color: white;
    background: green;
    border: 2px solid black ;
    width: 100px;
    height: 30px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    margin: 10px;
    position: absolute;
    bottom: 10px;
    


}
.btn:hover{
    color: green;
    background-color: white   ;
}

.alert-container{
    position: fixed;
    width: 300px;
    height: 50px;
    background-color: rgb(118, 199, 119);
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 0 4px 8px black;
    right: 20px;
    bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.active.alert-container{
    animation: alert 1s ease-in-out;
}